* {
  padding: 0;
  margin: 0;
}
.footer {
  width: 100%;
  height: auto;
  margin-top: 270px;
  background-color: rgb(97, 136, 255);
  display: grid;
  grid-gap: 35px;
  padding-top: 80px;
  padding-bottom: 80px;
  grid-template-columns: 22% 21% 21% 28%;
}

.two > div > img {
  width: 20px;
}
.two {
  padding: 10px;
  text-align: left;
}
.two > div {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 40px 180px;
  margin: 20px;
}
a {
  color: white;
  font-weight: 550;
  text-decoration: none;
  margin-bottom: 15px;
}
.imgs {
  padding-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
}
.imgs > img {
  width: 95%;
  height: 150px;
}
.imgs > h1 {
  padding-top: 40px;
  color: white;
  padding-right: 40px;
  font-size: 45px;
  margin-left: -20px;
}

button {
  font-family: 'Poppins', sans-serif;
  width: 180px;
  height: 55px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgb(113, 148, 255);
  color: white;
  border: 2px solid rgb(113, 148, 255);
  font-weight: 400;
  z-index: 0;
  font-size: 17px;
}

.dropdown {
  height: 10vh;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.products {
  position: relative;
}

.products ul {
  margin-top: 10px;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  z-index: 5;
  align-items: center;
  width: 200px;
  max-height: 280px;
  overflow: auto;
  background: white;
  left: 0px;
  list-style: none;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.products li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products li:hover {
  background-color: rgb(176, 187, 186);
}

.products a {
  color: rgb(5, 120, 165);
  text-decoration: none;
}

.dropdown button,
.home {
  background: none;
  text-decoration: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.products button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}
